@page
@model OrchidTradingManagement.Pages.Admin.AccessListModel
@{
}

@{
    String jsonString = HttpContext.Session.GetString("userId");
    if (!string.IsNullOrEmpty(jsonString))
    {
        if (jsonString.Equals("e7c115d3-a70a-4a16-b891-c45bd0425a00"))
        {
            <div class="bg-secondary bg-opacity-10 py-2">
                <div class="container">
                    <h1>List Orchid Information</h1>
                </div>
            </div>

            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Images</td>
                            <td>Title</td>
                            <td>Status</td>
                            <td> </td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var infor in Model.ListInformations)
                        {
                            <tr>
                                <td>
                                    <img src="@infor.Image" style="width:100px; height:100px" />
                                </td>
                                <td>@infor.Title</td>
                                <td>@infor.Status</td>

                                @if (infor.OrchidId != null)
                                {
                                    <td>@infor.OrchidId</td>
                                    <td><a href="/admin/EditSellOrchidInfor/@infor.InforId">View</a></td>
                                }
                                @if (infor.AuctionId != null)
                                {
                                    <td>@infor.AuctionId</td>
                                    <td><a href="/admin/EditAuctionOrchidInfor/@infor.InforId">View</a></td>
                                }


                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
        else
        {
            <h1>Access Denied</h1>
        }
    }
    else
    {
        <h1>Access Denied</h1>
    }
}